- const btnStyles = `btn_nav text-white fadeIn text-xl mx-5 px-4 py-3 rounded-lg`;

nav(class=`flex flex-wrap content-start mt-20 mx-auto`)
  button(class=`homeLink ${btnStyles} active` type=`button`) Home
  button(class=`projectsLink ${btnStyles}` type=`button`) Projects
  button(class=`skillsLink ${btnStyles}` type=`button`) Skills
  button(class=`aboutLink ${btnStyles}` type=`button`) About
  button(class=`contactLink ${btnStyles}` type=`button`) Contact
